build/
externals/
.vscode/
.DS_Store
RTNeural_SC/RTNeural/python/venv/
RTNeural_SC/RTNeural/RTNeuralUGen.scx
venv/
.zip
.scx
.mxo
.so
RTNeural.zip
RTNeural_SC/build/
rtneural_pd/build/
rtneural_max/build/
rtneural_max/externals/